<h1 class="mb-3 text-2xl font-bold">Testje</h1>

gewone naam: {{ name }}
<br />
signal naam: {{ properName() }}

counter: {{ counter() }}
<br />
doubled: {{ doubled() }}
<br />

<hr />

<button class="border-2 border-amber-600 bg-amber-300 p-3 hover:cursor-pointer hover:shadow-2xl" (click)="changeName()">
	Verander naam
</button>

<button class="btn btn-primary ml-3" (click)="changeName()">Verander naam met DaisyUI</button>

<div class="flex gap-5">
	<table>
		<thead>
			<tr>
				<th>Framework</th>
				<th>Logo</th>
				<th>Cijfer</th>
			</tr>
		</thead>
		<tbody>
			@for (framework of frameworks; track framework.id) {
				<tr (mouseover)="framework.grade = framework.grade + 1" [class.bg-yellow-300]="framework.grade > 9">
					<td>{{ framework.name }}</td>
					<td><img [src]="framework.logoUrl" class="max-w-24" /></td>
					<td>{{ framework.grade }}</td>
				</tr>
			}
		</tbody>
	</table>

	<form (submit)="addFramework($event)" novalidate>
		<ol>
			<li>
				<label for="input-framework">Framework:</label>
				<input
					id="input-framework"
					class="input"
					[class.input-success]="addFrameworkForm.name().valid()"
					[class.input-error]="!addFrameworkForm.name().valid()"
					[formField]="addFrameworkForm.name"
				/>

				@if (
					addFrameworkForm.name().dirty() &&
					addFrameworkForm.name().touched() &&
					addFrameworkForm.name().errors().length > 0
				) {
					<span>{{ addFrameworkForm.name().errors()[0].message }}</span>
				}
			</li>
			<li>
				<label for="input-logo-url">Logo URL:</label>
				<input id="input-logo-url" type="url" class="input input-primary" [formField]="addFrameworkForm.logoUrl" />
			</li>
			<li>
				<label for="input-grade">Cijfer:</label>
				<input
					id="input-grade"
					class="input input-primary"
					step="0.5"
					type="number"
					[formField]="addFrameworkForm.grade"
				/>
			</li>
			<li>
				<button class="btn btn-primary" [disabled]="!addFrameworkForm().valid()">Voeg toe</button>
			</li>
			<li>{{ addFrameworkValue() | json }}</li>
			<li>{{ !addFrameworkForm().valid() }}</li>
		</ol>
	</form>
</div>
